.main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.mainBlock_container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.mainBlock_container img {
  width: 100%;
  object-fit: contain;
}

.mainBlock_container .mainBlock_details p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainBlock_container .mainBlock_details h3 {
  display: flex;
  justify-content: center;
}
/* --------------------------------------- */

.header_container {
  width: 100vw;
  position: sticky;
  padding: 20px;
  margin-bottom: 50px;
  /* background-color: rgb(182, 238, 226); */
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_container nav {
  position: relative;
}

.header_container nav ul {
  /* overflow: hidden; */
  position: absolute;
  top: -20px;
  right: -20px;
  height: 100vh;
  padding: 20px;
  background-color: rgb(208, 247, 238);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  transition: all 400ms ease-in;
}

.header_container .header_menuClose {
  cursor: pointer;
}
.header_container nav img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header_container .header_menuClose img {
  width: 40px;
  height: 40px;
}

.header_container .header_menu {
  margin: 50px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.header_container nav ul li {
  cursor: pointer;
  font-weight: 700;
  transition: all 400ms ease-in;
}

.header_container nav ul li:hover {
  color: rgb(43, 78, 196);
}

.main_container_1 {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1;
  overflow-x: hidden;
}

.main_container_1 .main_left_1 {
  padding-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main_container_1 .main_left_1 input {
  width: 100%;
  padding: 7px;
}

.main_container_1 .main_right_1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 17px;
  align-items: center;
}

.main_container_1 .main_right_1 .unit_container p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_container_1 .main_right_1 .unit_container img {
  width: 100%;
  object-fit: contain;
}
